certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
dbengine==1.1
idna==2.8
inflection==0.3.1
int-date==0.1.8
joblib==0.14.1
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==3.1.3
more-itertools==8.2.0
numpy==1.18.1
pandas==1.0.0
pandas-datareader==0.8.1
patsy==0.5.1
PyMySQL==0.9.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
Quandl==3.5.0
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
SQLAlchemy==1.3.13
statsmodels==0.11.0
stockstats==0.3.1
urllib3==1.25.8
xgboost==0.90
