# Ignore files related to API keys
.env

#Ignore .idea
.idea

# Ignore virtual environment
FinsterTab/F2019/venv/

# Ignore database due to different password
FinsterTab/F2019/dbEngine.py

.DS_Store


ignore.txt
